/* vyvian lillian 12/4*/

body {font-family: "Georgia"; text-align: center; background-color:#fffff4}
h1 {
  font-size:101px;
  text-align:center
}
.birdButton {
  font-size:70px;
  cursor: pointer; /*want it to behave the way button is expected to*/
}
#factShower {
  margin-top: 70px;
  font-size: 40px;
}

@media (max-width: 1024px) { /*coding for a medium/small display layout*/
  h1 {font-size:71px;}
  .birdButton {font-size:40px;}
  #factShower {margin-top: 30px; font-size: 20px}
}